.page {
  display: flex;

  flex-wrap: wrap;
}
.div_Data {
  border: solid black 10px;
  width: auto;
}
#data {
  top: 150px;
  position: relative;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
body {
}
