#visitorsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#cardss {
  border: 5px solid black;
}
#cardss div {
  border: 1px solid black;
  background-color: coral;
}
#login_body {
  background: url(./photos/Z9_Jungle.jpg);
}
#nav-bar {
  background-color: aliceblue;
  position: relative;
}

/*הסטייל של דף הZOO*/
#forms {
  border: 60px;
  border-color: black;
  width: 700px;
  margin: auto;
  /*צריך לסדר גבול וצל*/
}

#filrerForm {
  display: flex;
  flex-direction: row;
  width: 700px;
}

#filrerForm label {
  margin-top: 10px;
}

#filrerForm div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#filrerForm button {
  margin-top: auto;
  margin-bottom: auto;
  background-color: orange;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 70px;
  height: 35px;
}

input {
  width: 110px;
}
