#visitorsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#nav_body {
  height: 10px;
}
nav {
  height: min-content;
  border-bottom: solid black 10px;
}
.title {
  width: 100px;
  overflow: hidden; /* Ensures content exceeding the width is hidden */
  white-space: nowrap; /* Keeps the text in a single line */
  text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
  /* Additional styling to make the title look good */
  font-weight: bold;
  text-align: center;
  background-color: #f0f0f0; /* Light grey background, change as needed */
  padding: 10px;
  border: 1px solid #d0d0d0; /* Light grey border, change as needed */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}
.logo {
  height: 75px;
  width: 75px;
  border: solid black;
  border-radius: 100px;
  margin-top: -30;
  justify-content: center;
  display: flex;
}
#logo2 {
  margin-top: -30;
  height: 100px;
}

.navbar-login {
  display: flex;
  text-decoration: none;
  margin-bottom: auto;
  margin-top: -30;
}
.navbar-login img {
  width: 75px;
  height: 75px;
  border-radius: 1000px;
}
#ready_To_play {
  display: flex;
  justify-content: center;
}
#ready_To_play h1 {
  color: #09d99e;
}
.Buttons {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Buttons button {
  border: solid #0a0707;
  width: 100px;
  height: 40px;
}
.tab {
  margin-top: 15px;
}
iframe {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 1920px;
}
.logintousers {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 10px;
}
#searchBox {
  position: relative;
  justify-content: center;
  width: 90%;
}
.card-nav {
  display: flex;
  padding-left: 10px;
}
#cardss {
  border: 5px solid black;
}
#cardss div {
  border: 1px solid black;
  background-color: coral;
}
#login_body {
  background: url(./photos/backgrounds/Z9_Jungle.jpg);
}
#nav-bar {
  background-color: aliceblue;
  position: relative;
}
#dialogs {
  z-index: 1;
  position: relative;
  border: solid black 10px;
  background-color: aliceblue;
}
::backdrop {
  background-color: white;
  opacity: 0.75;
}

/* Navbar links */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* This ensures the navbar extends full width */
  display: flex;
  color: #f2f2f2;
  padding: 14px;
  text-decoration: none;
  background-color: #333; /* Added for visibility, change as needed */
  z-index: 10;
  justify-content: space-around;
}

/*דיאלוג של VISITOR*/
#myDialog {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*הסטייל של דף הZOO*/
#forms {
  background-color: rgb(207, 204, 198);
  margin: 120px 40px 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

#filrerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#filrerForm label {
  margin-top: 10px;
}

#filrerForm div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#filrerForm button {
  margin-top: auto;
  margin-bottom: auto;
  background-color: orange;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 70px;
  height: 35px;
}

input {
  width: 110px;
}

#animal-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#animal-cards p {
  margin: 20px;
}

.card-title {
  margin: 10px;
}

/*שיכפול קוד!! לבדוק האם אפשר למחוק את הID למעלה*/
.cardss {
  border: 5px solid black;
}
.cardss div {
  border: 1px solid black;
  background-color: coral;
}

/*דף החיות*/
#InformationCard {
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: darkblue;
  margin-top: 140px;
  color: #f2f2f2;
  align-items: flex-start;
  justify-content: space-evenly;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  max-width: 700px;
  flex-wrap: wrap;
}

#InformationCard div {
  display: flex;
  justify-content: space-evenly;
}

#InformationCard #Container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#dialogImg {
  width: 280px;
}

#animal-cards-animal {
  display: flex;
  overflow-x: auto;
  align-items: center;
  white-space: nowrap;
  margin-top: 80px;
}

/*דף האינדקס*/
#indesMaterDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#indesMaterDiv img {
  width: 90%;
  max-width: 300px;
}

.indexDiv {
  background-color: bisque;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

#indesPage h1 {
  display: flex;
  margin-top: 150px;
  justify-content: center;
}

/*תמונות רקע*/
.Page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#zooPage {
  background-image: url("./photos/backgrounds/space_zoo_background.jpeg");
}

#indesPage {
  background-image: url("./photos/backgrounds/A_vibrant_and_imaginative_background_image_for_a_s.jpeg");
}

#animalPage {
  background-image: url("./photos/backgrounds/lego_space_zoo.jpeg");
}
/*form signup */
.col {
  margin-top: 150px;
}
